<div id="settings_plugin_hologram" class="tab-pane">
    
    <h3>Hologram Settings</h3>

    <div>
        <h4>Printer Dimensions</h4>
        <div>Length: <input type="number" step="1" data-bind="value: printerLength"></div>
        <div>Width: <input type="number" step="1" data-bind="value: printerWidth"></div>
        <div>Depth: <input type="number" step="1" data-bind="value: printerDepth"></div>
        <!-- Button to send dimensions -->
        <button data-bind="click: sendPrinterDimensions">Update Printer Dimensions</button>
    </div>

    <button data-bind="click: getSnapshot">Get Snapshot</button>
    <div>
        <img id="hologram-snapshot" data-bind="attr:{src: snapshotUrl}, visible: snapshotUrl, event:{click: recordClick}" style="cursor: crosshair;" />
    </div>
    <div>
        Points (click on the image):
        <ul data-bind="foreach: points">
            <li>
                (<span data-bind="text: x"></span>, <span data-bind="text: y"></span>)
            </li>
        </ul>
    </div>
    <button data-bind="click: savePoints, enable: points().length == 4">Save Points</button>
   
    <!-- Input boxes for image adjustments -->
    <div class="adjustment-sliders">
        <h4>Image Adjustments</h4>
        <div class="slider-container">
            Elev: <input type="number" step="0.01" min="-30" max="100" data-bind="value: sliderValues()[0], event:{'input': function(data, event) {sliderValues()[0](parseFloat(event.target.value)); updateImage();}}">
        </div>
        <div class="slider-container">
            Azim: <input type="number" step="0.01" min="0" max="359.99" data-bind="value: sliderValues()[1], event:{'input': function(data, event) {sliderValues()[1](parseFloat(event.target.value)); updateImage();}}">
        </div>
        <div class="slider-container">
            Roll: <input type="number" step="0.01" min="-30" max="30" data-bind="value: sliderValues()[2], event:{'input': function(data, event) {sliderValues()[2](parseFloat(event.target.value)); updateImage();}}">
        </div>
        <div class="slider-container">
            Focal length: <input type="number" step="0.001" min="0.01" max="1" data-bind="value: sliderValues()[3], event:{'input': function(data, event) {sliderValues()[3](parseFloat(event.target.value)); updateImage();}}">
        </div>
        <div class="slider-container">
            Scale: <input type="number" step="0.01" min="0" max="5" data-bind="value: sliderValues()[4], event:{'input': function(data, event) {sliderValues()[4](parseFloat(event.target.value)); updateImage();}}">
        </div>
    </div>
    
    <!-- Updated image -->
    <div>
        <h4>Updated Image</h4>
        <img data-bind="attr: { src: updatedImageUrl }" />
    </div>
</div>
